# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

venv/
env/
.venv/

# VS Code

.vscode/

# Jupyter Notebook

.ipynb_checkpoints/

# System Files

.DS_Store
Thumbs.db

# Streamlit

.streamlit/secrets.toml

# Generated Reports (optional)

Analysis/*.png

# Temporary Files

*.log
*.tmp

# Python Build Files

build/
dist/
*.egg-info/

# Environment Variables

.env
